@mixin horizontal-divider-small($top-margin) {
  &::after {
    content: '';
    display: block;
    height: 1px;
    width: 5rem;
    background-color: rgba($color-black, .1);
    margin: $top-margin auto 0;
  }
}

@mixin loadable() {
  background: $color-gray-sub;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 1.5s shimmer linear infinite;
}